@import ./color
@import ./font

.lsg.lsg
  display: flex
  flex-direction: column
  width: 100%
  background-color: $color-white
  font-family: 'Sarabun', sans-serif

.my-header
  background: $color-pictonblue
  color: $color-white
  text-align: center
  padding: 100px
  h1
    color: $color-white
[class^="icon-"]
  display: inline-block
.livingstyleguide--code-span, .livingstyleguide--code-block
  overflow: auto!important
  background-color: $color-athensgrey!important

*
	box-sizing: border-box

body,
html
	margin: 0
	padding: 0
	height: 100%

body
  base-font: Sarabun
  font-family: 'Sarabun', sans-serif;
  // font-family: 'Alata', sans-serif;
	display: flex
	flex-direction: column
	align-items: center
	color: $color-tuna
	margin: 0
	a
		color: $color-tuna
		&:visited
			color: $color-tuna
	input:focus
		outline: 0
	::-webkit-scrollbar
		width: #{1.2 * $grid-space}
	::-webkit-scrollbar-track
		background: $color-catskillwhite
	::-webkit-scrollbar-thumb
		background: $color-aluminium-dark

*
  box-sizing: border-box
