<script>
export default {
	components: {
	},
	computed: {
	},
};
</script>

<template>
<div class="web-app">
	<div class="web-app__desktop">
		<h1>Hello world</h1>
	</div>
</div>
</template>

<style lang="sass">
@import '../sass/color'
.web-app
	width: 100%
	height: 100%
	overflow: hidden
	display: flex
	flex-direction: column
.web-app__desktop
	flex: 1
	overflow: hidden
	display: flex
	flex-direction: column

main.box
	flex: 1
	display: flex
	height: 100%
	overflow: hidden
</style>
